.book-detail-modal {
  background-color: var(--color-grey);
  padding: 0.5em;
}

.book-detail-inner {
  background-color: white;
  border-radius: var(--border-radius);
  padding: 0.5em;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  min-height: 100vh;
}

.btn-container {
  margin-top: 0.5em;
  display: flex;
  justify-content: space-around;
}

.btn-container > * {
  width: 49%;
}

.book-detail-img {
  display: flex;
  justify-content: center;
}

.book-detail-table {
  width: 100%;
  margin: 0.5em 0;
  background-color: #f6fafd;
  text-align: center;
  font-size: .9em;
}

tr:nth-child(even) {
  background-color: #1976d238;
}

.book-detail-backbtn {
  width: 3em;
  height: 2em;
}

@media screen and (min-width: 800px) {
  .book-detail-inner {
    display: grid;
    grid-template-columns: 10vw 1fr 2fr 10vw;
    grid-template-rows: repeat(4, minmax( max-width, 25vh));
    grid-gap: 10px;
  }

  .book-detail-img {
    grid-column: 3 / 4;
    grid-row: 1 / 5;
  }

  .book-detail-title, .book-detail-subtitle, .book-detail-table, .btn-container {
    grid-column: 2;
  }

  .book-detail-backbtn {
    grid-column: 1;
    grid-row: 1;
  }

  .book-detail-title {
    grid-row: 1;
    
  }

  .book-detail-subtitle {
    grid-row: 2;
  }

  .book-detail-table {
    grid-row: 3;
  }

  .btn-container {
    grid-row: 4;
    width: 100%;
    height: 3em;
  }

}

@media screen and (max-width: 360px) {
  .book-detail-img img {
    width: 80vw;
  }
}
