.home_container {
  display: flex;
  text-align: center;
  padding: 0.5em;
  background-color: white;
  height: 100vh;
  width: 100vw;
}

.home_container_inner {
    max-width: 450px;
    margin: auto;
    margin-block: auto;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.img_container img {
  max-width: 320px;
  height: 76px;
}

.home_container input {
  width: 100%;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
}
