header {
    padding: .5em;
    gap: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;   
}

.header-img {
    width: 240px;
    height: 57px;
}

header p {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
}

@media screen and (min-width: 800px) {
    header {
        display: flex;
        flex-direction: row;
        align-items: center;
        /* outline: var(--border-test); */
        justify-content: space-between;
    }
}